<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/namir.png">
    </a>
    <h1>namir cisneros</h1>
    <p>San Juan, Puerto Rico <br> 
       University of Puerto Rico, Rio Piedras Campus <br>
       Urban Design</p>
    <a type="button" class="btn btn-lg btn-primary" href="#"><span class="glyphicon glyphicon-download"></span> Resume</a>
  </div>
</div>


</body>
</html>
